mlflow-skinny
numpy
pandas
scikit-learn==1.6.1
matplotlib
seaborn
joblib
mlflow
fastapi
uvicorn
pytest
prometheus-client
python-json-logger
structlog
python-multipart
dagshub
dvc
dvc-s3
python-dotenv
flake8
black
pytest-cov
httpx